# don't push local rendered files in master branch
_book/
_bookdown_files/
libs/
**/*.html

# ignore all html files except:
!**/mathjax_header.html
!assets/*.html

# R and Rstudio specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# bookdown build file
Introduction2R.rds
*.rds

# Other folders
Documents/
charts/

# Mac-auxiliary files
.DS_Store
